

<div class="row">
    <div class="col-md-12">

        <div class="panel gmd">
            <div class="panel-heading modal-title">
                {{title}}
            </div>
            <div class="panel-body">

                <gumga-list
                    configuration="tableConfig"
                    data="entries"
                    name="balance-modal-list"
                    max-height="50vh">

                </gumga-list>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="pull-right m-r-sm">
                        <button type="button" class="btn gmd raised btn-warning" ng-click="close()">
                            <i class="material-icons" style="vertical-align: middle">close</i>
                            Fechar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>