<div class="ma-container"
     ng-init="invoiceErrors()">
    <div class="mbg-modal">
        <button type="button"
                class="btn mbg-close-modal"
                ng-click="dismiss()"> Fechar
            <i class="fas fa-times"></i>
        </button>
        <!-- <div class="mbg-header-modal">

        </div> -->
        <div class="mbg-body-modal not-scroll"
             ng-style="{ 'overflow': 'hidden' }">
            <div class="confirm-cashcheckout-wrapper"
                 ng-class="{ 'active' : step } ">
                <div class="confirm-cashcheckout-step"
                     ng-show="step"
                     ng-class="{ 'hidden-left' : step != 1 }">
                    <p>Quanto de troco você está deixando em caixa?</p>
                    <input type="text"
                           class="change-money"
                           id="change-money"
                           ng-model="change"
                           placeholder="Se quiser, informe um troco"
                           mobiage-money-mask
                           data-prefix="R$ "
                           data-decimal=","
                           data-allow-negative="true"
                           data-thousands="." />
                    <label ng-style="{opacity: change > initialChange ? 1 : 0}">
                        Você só pode deixar {{ initialChange | currency: 'R$ ' }} como troco.</label>
                    <button ng-click="nextStep()"
                            ng-disabled="step != 1 || (change > initialChange)">Avançar</button>
                </div>
                <div class="confirm-cashcheckout-step"
                     ng-show="step"
                     ng-class="{ 'hidden-right' : step != 2 }">
                    <p>
                        Você está fechando o {{ entity.group.name }} aberto
                        <br> em {{ entity.date | date: 'dd/MM/yy' }} às {{ getHoursIgnoreDate(entity.date) }}. Deseja
                        continuar?</p>
                    <button ng-click="closeModal()"
                            ng-disabled="step != 2">Fechar caixa</button>
                    <button ng-click="previousStep()"
                            ng-disabled="step != 2"
                            class="cancel">Voltar</button>
                </div>
            </div>
        </div>
    </div>
</div>