<form name="forms" novalidate>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-layout-panel cl-dark-primary text-uppercase">
            <label style="font-size: 24px" gumga-translate-tag="cashcheckin.closing">Cash Check-In Closing</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-layout-panel">
            <div class="panel gmd">
                <ul class="nav nav-tabs gmd" role="tablist">
                    <li role="start" ng-class="{'active': cashcheckin}">
                        <a href="#start" target="_self" aria-controls="start" role="tab" data-toggle="tab"
                           class="text-uppercase"
                           gumga-translate-tag="cashcheckin.movementout">Movement</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" ng-class="{'active': cashcheckin}" id="start">
                            <div class="row">
                                <!-- panel de identificação-->
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="panel gmd">
                                                <div ng-hide="noCheckin">
                                                    <div class="panel-heading">
                                                        <h3><span
                                                                gumga-translate-tag="cashcheckin.accounts"> Accounts </span><label
                                                                class="pull-right">PDV Aberto:
                                                            {{entity.group.name}}</label>
                                                        </h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="col-md-4">
                                                                    <label gumga-translate-tag="cashcheckin.initchange">Init Change</label>
                                                                    <span class="form-control" disabled>
                                                                        {{entity.change|currency}}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row"
                                                             ng-class="!$first ? 'm-t' : angular.noop"
                                                             ng-repeat="value in entity.values track by $index"
                                                             ng-show="showAccountsWithoutMovement(value)">
                                                            <div class="col-md-12">
                                                                <div class="col-md-4">
                                                                    <label><span>{{value.financeUnit.name}}</span></label>
                                                                    <input type="number" class="form-control"
                                                                           ng-model="value.informedValue">
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label><span
                                                                            gumga-translate-tag="cashcheckin.expectedvalue">Expected value</span></label>
                                                                    <input type="text" class="form-control"
                                                                           ng-model="value.movementedValue" disabled
                                                                           ui-money-mask>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label gumga-translate-tag="cashcheckin.difference"></label><br>
                                                                    <label>{{value.informedValue -
                                                                        value.movementedValue|currency:'R$'}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12 m-t">
                                                                <a ng-click="showWithoutMovement = !showWithoutMovement"
                                                                   class="m-l"
                                                                   style="font-size: 16px;">
                                                                    <i class="glyphicon glyphicon-chevron-up text-primary m-r-xs"
                                                                       ng-class="{'glyphicon-chevron-up': showWithoutMovement, 'glyphicon-chevron-down': !showWithoutMovement}"></i>
                                                                    Contas sem movimentação</a>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="col-md-4">
                                                                    <label gumga-translate-tag="cashcheckin.leftchange">Left Change</label>
                                                                    <input type="text" class="form-control" ng-model="change" ui-money-mask>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="button"
                                                            class="btn btn btn-primary pull-right button-ok"
                                                            ng-disabled="noCheckin"
                                                            ng-click="close(entity)"><i class="fa fa-power-off"
                                                                                        style="padding-right: 5px"></i>
                                                        <span
                                                                gumga-translate-tag="cashcheckin.closecash">Close Cash</span>
                                                    </button>
                                                </div>
                                                <div ng-show="noCheckin">
                                                    <div class="row">
                                                        <div class="col-xs-8">
                                                            <div class="col-xs-8">
                                                            <h5 class="text-danger"
                                                                  gumga-translate-tag="cashcheckin.nothasopening">
                                                                This employee has not a cash check-in
                                                            </h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <button type="button"
                                                    class="btn btn btn-default pull-right button-return"
                                                    ui-sref="home.base"><i
                                                    class="fa fa-undo"></i> <span
                                                    gumga-translate-tag="button.back">Back</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>