<form name="forms"
      novalidate>
    <div class="ma-container">
        <div class="ma-page">
            <mobiage-title label="Abertura de caixa"></mobiage-title>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel gmd ma-panel">
                        <div class="panel-body ma-pad-panel">
                            <div class="row"
                                 ng-show="disableOpening">
                                <h5 class="text-danger">
                                    Este usuário já possui um caixa aberto.
                                    <a style="text-decoration: underline; color:blue"
                                       ng-if="!isFinance()"
                                       ui-sref="app.cashcheckout.checkout"> Clique aqui</a>
                                    <a style="text-decoration: underline; color:blue"
                                       ng-if="isFinance()"
                                       ui-sref="app.cashcheckin.checkout"> Clique aqui</a> para fechar o caixa aberto.
                                </h5>
                            </div>
                            <div ng-hide="disableOpening">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>
                                            <span gumga-translate-tag="cashcheckin.cash">Cash</span>
                                            <strong class="text-danger"> *</strong>
                                        </label>

                                        <gumga-many-to-one value="entity.group"
                                                           search-method="getGroups(param)"
                                                           authorize-add="false"
                                                           field="name"
                                                           async="true"
                                                           class="gmd"
                                                           display-info="false"
                                                           data-disabled="disableOpening"
                                                           on-select="onSelectGroup(value)"
                                                           on-deselect="onSelectGroup(value)">
                                            <match>
                                                <div>{{match.model.name}}</div>
                                            </match>
                                        </gumga-many-to-one>
                                    </div>
                                </div>
                                <div ng-show="entity.employee != null">
                                    <div class="row m-t">
                                        <div class="col-md-6">
                                            <label gumga-translate-tag="cashcheckin.user">Operator</label>
                                            <input type="text"
                                                   ng-model="entity.employee.name"
                                                   class="form-control"
                                                   disabled/>
                                        </div>
                                        <div class="col-md-6 m-t">
                                            <label gumga-translate-tag="cashcheckin.date">Date/Hour</label>
                                            <br/>
                                            <span style="font-size: 15px">{{entity.date | date: 'dd/MM/yyyy HH:mm:ss'}}</span>&nbsp;
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <gmd-input>
                                                <input type="text"
                                                       class="gmd form-control"
                                                       ui-money-mask
                                                       ng-model="entity.change"
                                                       ng-disabled="disableOpening">
                                                <span class="bar"></span>
                                                <label gumga-translate-tag="cashcheckin.changevalue">Change Value
                                                </label>
                                            </gmd-input>

                                        </div>
                                    </div>
                                </div>
                                <div ng-show="entity.change"
                                     class="row">
                                    <div class="col-md-6">
                                        <label gumga-translate-tag="cashcheckin.changeorigin">Change origin
                                        </label>
                                        <strong class="fa fa-question-circle ng-scope"
                                                style="cursor: pointer"
                                                uib-popover={{changeOriginTooltip}}></strong>
                                        <br/>
                                        <gumga-many-to-one value="entity.originChange"
                                                           search-method="getChangeOrigin(param)"
                                                           authorize-add="false"
                                                           field="name"
                                                           async="true"
                                                           class="gmd"
                                                           display-info="false"
                                                           on-select="onSelectOrigin(value)">
                                            <match>
                                                <div>{{match.model.name}}</div>
                                            </match>
                                        </gumga-many-to-one>
                                    </div>
                                    <div class="col-md-6">
                                        <label gumga-translate-tag="cashcheckin.changedestiny">Change destiny
                                        </label>
                                        <strong class="fa fa-question-circle ng-scope"
                                                style="cursor: pointer"
                                                uib-popover={{changeDestinyTooltip}}></strong>
                                        <br/>

                                        <gumga-many-to-one value="entity.destinyChange"
                                                           search-method="getChangeOrigin(param)"
                                                           authorize-add="false"
                                                           field="name"
                                                           async="true"
                                                           class="gmd"
                                                           display-info="false"
                                                           data-disabled="disableOpening"
                                                           on-select="onSelectDestiny(value)">
                                            <match>
                                                <div>{{match.model.name}}</div>
                                            </match>
                                        </gumga-many-to-one>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <gmd-fab force-click="false"
             fixed>
        <button ng-class="{'gmd-disabled' : disabledOpenCash(entity) }"
                class="bg-accent gmd-ripple"
                ng-disabled="disabledOpenCash(entity)"
                ng-click="open(entity, cashCheckout.change)">
            <span class="fa fa-key"></span>
        </button>
        <ul></ul>
    </gmd-fab>
</form>