<form name="forms"
      novalidate>
    <div class="page-wrapper">
        <div class="ma-container">
            <div class="ma-page">
                <div class="row row-flex">
                    <div class="col-md-6">
                        <cp-page-title title="'Abertura de Caixa'"></cp-page-title>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel gmd ma-panel">
                            <div class="panel-body ma-pad-panel">
                                <div class="row"
                                     ng-show="disableOpening">
                                    <h5 class="text-danger">
                                        Este usuário já possui um caixa aberto.
                                        <a style="text-decoration: underline; color:blue"
                                           ng-if="!isFinance()"
                                           ui-sref="app.cashcheckout.checkout"> Clique aqui</a>
                                        <a style="text-decoration: underline; color:blue"
                                           ng-if="isFinance()"
                                           ui-sref="app.cashcheckin.checkout"> Clique aqui</a> para fechar o caixa
                                        aberto.
                                    </h5>
                                </div>
                                <div ng-show="entity.employee != null">
                                    <div class="row m-t">
                                        <div class="col-md-3">
                                            <label class="mbg-label">Empregado</label>
                                            <mbg-input-text ng-model="entity.employee.name"
                                                            ng-disabled="true"></mbg-input-text>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="mbg-label">Data e hora </label>
                                            <mbg-input-text ng-model="entity.dateFormatted"
                                                            ng-disabled="true"></mbg-input-text>
                                        </div>
                                    </div>
                                </div>
                                <div ng-hide="disableOpening">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <label class="mbg-label">Caixa <strong class="text-danger">
                                                    *</strong></label>
                                            <mbg-select ng-model="groupUnit"
                                                        fetch="getGroups(param)"
                                                        enable-favorite="true"
                                                        name="groupUnit"
                                                        label="name"
                                                        on-select="onSelectGroup(value)"
                                                        on-unselect="descSelectGroup()"
                                                        ng-disabled="disableOpening">
                                            </mbg-select>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="mbg-label">Valor do troco</label>
                                            <mbg-input-money id="changeId"
                                                             ng-model="entity.change"
                                                             ng-disabled="disableChange || !groupUnit">
                                            </mbg-input-money>
                                        </div>
                                    </div>
                                    <!-- <div ng-show="entity.change"
                                     class="row">
                                    <div class="col-md-6">
                                        <label gumga-translate-tag="cashcheckin.changeorigin">Change origin
                                        </label>
                                        <strong class="fa fa-question-circle ng-scope"
                                                style="cursor: pointer"
                                                uib-popover={{changeOriginTooltip}}></strong>
                                        <br/>
                                        <gumga-many-to-one value="entity.originChange"
                                                           search-method="getChangeOrigin(param)"
                                                           authorize-add="false"
                                                           field="name"
                                                           async="true"
                                                           class="gmd"
                                                           display-info="false"
                                                           on-select="onSelectOrigin(value)">
                                            <match>
                                                <div>{{match.model.name}}</div>
                                            </match>
                                        </gumga-many-to-one>
                                    </div>
                                    <div class="col-md-6">
                                        <label gumga-translate-tag="cashcheckin.changedestiny">Change destiny
                                        </label>
                                        <strong class="fa fa-question-circle ng-scope"
                                                style="cursor: pointer"
                                                uib-popover={{changeDestinyTooltip}}></strong>
                                        <br/>

                                        <gumga-many-to-one value="entity.destinyChange"
                                                           search-method="getChangeOrigin(param)"
                                                           authorize-add="false"
                                                           field="name"
                                                           async="true"
                                                           class="gmd"
                                                           display-info="false"
                                                           data-disabled="disableOpening"
                                                           on-select="onSelectDestiny(value)">
                                            <match>
                                                <div>{{match.model.name}}</div>
                                            </match>
                                        </gumga-many-to-one>
                                    </div>

                                </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <gmd-fab force-click="false"
             fixed>
        <button ng-class="{'gmd-disabled' : disabledOpenCash(entity) }"
                class="bg-accent gmd-ripple"
                ng-disabled="disabledOpenCash(entity)"
                ng-click="open(entity, cashCheckout.change)">
            <span class="fa fa-key"></span>
        </button>
        <ul></ul>
    </gmd-fab>
</form>