<div class="mbg-style">
    <div class="row">
        <div class="col-md-4">
            <label class="mbg-label input-label">Contas a</label>
            <gumga-many-to-one value="$parent.titleType"
                               list="$parent.titleTypes"
                               class="gmd mbg-m-t-o"
                               active-favorite="true"
                               name="typeTitle"
                               on-select="selectType(value)"
                               on-deselect="clearVariationTypes()"
                               search-method="getSearchTypes(param)"
                               field="name"
                               authorize-add="false"
                               async="false"
                               display-info="false">
                <match>
                    <div>{{match.model.name}}</div>
                </match>
            </gumga-many-to-one>
        </div>
        <div class="col-md-8"
             ng-if="$parent.titleType">
            <label class="mbg-label input-label">Status</label>
            <gumga-many-to-one value="$parent.$parent.variationType"
                               list="$parent.$parent.variationTypes"
                               class="gmd mbg-m-t-o"
                               name="variationType"
                               search-method="getSearchVariationTypes(param)"
                               field="name"
                               authorize-add="false"
                               async="false"
                               display-info="false">
                <match>
                    <div>{{match.model.name}}</div>
                </match>
            </gumga-many-to-one>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="mbg-label input-label">Data inicial</label>
            <gumga-date class="mbg-m-t-o"
                        ng-model="$parent.beginDate"
                        id="beginDate"></gumga-date>
        </div>
        <div class="col-md-6">
            <label class="mbg-label input-label">Data final</label>
            <gumga-date ng-model="$parent.endDate"
                        id="endDate"></gumga-date>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="mbg-label input-label">Clientes</label>
            <gumga-chips placeholder="Buscar Clientes"
                         search-field="name"
                         filter-option-by="contains"
                         full-mode
                         ng-model="$parent.selecionados">
                <gumga-chips-item ng-repeat="item in selecionados track by $index"
                                  ng-value="item">
                    {{item.name}}
                </gumga-chips-item>
                <gumga-chips-option ng-repeat="option in individualList"
                                    ng-value="option">
                    {{option.name}}
                </gumga-chips-option>
            </gumga-chips>
        </div>
    </div>
</div>