<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <label>Pessoa:</label>
            <form name="Form">
                <gumga-many-to-one
                        value="individualSearch"
                        list="individual.data"
                        search-method="individual.methods.asyncSearch('name',param)"
                        add-method="individual.methods.asyncPost(value,'name')"
                        field="name"
                        authorize-add="false">
                </gumga-many-to-one>
            </form>
        </div>
        <div ng-class="{'col-md-8': hideOthers, 'col-md-4': !hideOthers}">
            <div class="row">
                <label>Filtros Rápidos:</label>
            </div>
            <div class="row">
                <label id="toReceive" class="btn-sm gmd raised" ng-class="buttonTypeClass(false)" uib-btn-radio="'toReceive'" ng-model="filterReceive" uncheckable ng-click="filter(lastClicked, false)">A Receber</label>
                <label class="btn-sm gmd raised" ng-class="buttonTypeClass(true)" uib-btn-radio="'receive'" ng-model="filterReceive" uncheckable ng-click="filter(lastClicked, true)">Recebido</label>
            </div>
            <div class="row" style="margin-top: 10px">
                <label class="btn-sm gmd raised" ng-model="filters" ng-show="hideOthers" uncheckable
                       ng-click="filter('today', paidOut)" uib-btn-radio="'today'" ng-class="buttonSubTypeClass('today')">Hoje</label>
                <label class="btn-sm gmd raised" ng-model="filters" ng-show="hideOthers" uncheckable
                       ng-click="filter('thisWeek', paidOut)" uib-btn-radio="'thisWeek'" ng-class="buttonSubTypeClass('thisWeek')">Esta semana</label>
                <label class="btn-sm gmd raised" ng-model="filters" ng-show="hideOthers" uncheckable
                       ng-click="filter('thisMonth', paidOut)" uib-btn-radio="'thisMonth'" ng-class="buttonSubTypeClass('thisMonth')">Este Mês</label>
                <label class="btn-sm gmd raised" ng-model="filters" ng-show="hideOthers" uncheckable
                       ng-click="filter('thisYear', paidOut)" uib-btn-radio="'Thisyear'" ng-class="buttonSubTypeClass('thisYear')">Este Ano</label>
                <label class="btn-sm gmd raised" ng-model="filters" uncheckable uib-btn-radio="'custom'"
                       ng-click="hideOthers = !hideOthers; changeSubTypeButton('custom')" ng-class="buttonSubTypeClass('custom')">Personalizado</label>
            </div>
        </div>
        <div class="col-md-2 m-t-md" ng-show="filters == 'custom'">
            <label style="margin-bottom: 0">Data final</label>
            <gumga-date name="expiration" configuration="configData" ng-model="endDate"></gumga-date>
        </div>
    </div>
</div>

<div class="col-md-12" style="margin-top:1%">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <button
                            class="btn btn-primary gmd raised"
                            ng-click="individualCheckAndPay(selectedValues, containsFullPaid)">
                        <i ng-if="!containsFullPaid">Receber</i>
                        <i ng-if="containsFullPaid">Imprimir Recibo</i>
                    </button>
                    <button
                            class="btn btn-default gmd raised"
                            ng-click="renegotiation(selectedValues)"
                            ng-if="isRenegotiate"
                            ng-disabled="selectedValues.length === 0 || containsReplaced || containsFullPaid">
                        Renegociar
                    </button>
                </div>
                <div class="col-md-3">
                    <label ng-if="errorMessage" class="text-danger">{{errorMessage}}</label>
                </div>
                <div class="col-md-3 text-right">
                    <h3 ng-if="total > 0" class="text-success">{{ total | currency: 'R$ ' }} à Receber</h3>
                    <h3 ng-if="increase > 0" class="text-success">{{ increase | currency: 'R$ ' }} de Acréscimo</h3>
                </div>
            </div>
        </div>
    </div>
    <gumga-list class="table-striped"
                sort="sortByGQuery(field, dir)"
                data="titleparcel.data"
                on-click="totalize()"
                configuration="tableConfig"
                page-size="titleparcel.pageSize"
                count="titleparcel.count"
                page-model="titleparcel.page"
                max-height="400px"
                on-page-change="getByGQuery(page, pageSize)">
    </gumga-list>
</div>
