<div class="ma-container">
    <div class="ma-page">
        <div class="ma-form-title ma-title">
            Receber Títulos
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel gmd ma-panel">
                    <div class="panel-body ma-pad-panel">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="input-label">Filtros Rápidos:</label>
                                <div class="row" style="padding-top: 12px">
                                    <div class="btn-group">
                                        <button id="toReceive" class="btn-sm gmd raised" ng-class="buttonTypeClass(false)" uib-btn-radio="'toReceive'" ng-model="filterReceive" uncheckable ng-click="filter(lastClicked, false)">A Receber</button>
                                        <button class="btn-sm gmd raised" ng-class="buttonTypeClass(true)" uib-btn-radio="'receive'" ng-model="filterReceive" uncheckable ng-click="filter(lastClicked, true)">Recebido</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 8px">
                                <div class="btn-group">
                                    <button class="btn-sm gmd raised" ng-model="filters"
                                            uncheckable
                                            ng-click="filter('all', paidOut)" ng-class="buttonSubTypeClass('all')" uib-btn-radio="'all'">Todos</button>
                                    <button class="btn-sm gmd raised" ng-model="filters"
                                            uncheckable
                                            ng-click="filter('today', paidOut)" ng-class="buttonSubTypeClass('today')" uib-btn-radio="'today'">Hoje</button>
                                    <button class="btn-sm gmd raised" ng-model="filters"
                                            uncheckable
                                            ng-click="filter('thisWeek', paidOut)" ng-class="buttonSubTypeClass('thisWeek')" uib-btn-radio="'thisWeek'">Esta semana</button>
                                    <button class="btn-sm gmd raised" ng-model="filters"
                                            uncheckable
                                            ng-click="filter('thisMonth', paidOut)" ng-class="buttonSubTypeClass('thisMonth')" uib-btn-radio="'thisMonth'">Este Mês</button>
                                    <button class="btn-sm gmd raised" ng-model="filters"
                                            uncheckable
                                            ng-click="filter('thisYear', paidOut)" ng-class="buttonSubTypeClass('thisYear')" uib-btn-radio="'Thisyear'">Este Ano</button>
                                    <button class="btn-sm gmd raised" ng-model="filters"
                                            uncheckable
                                            ng-click="filter('custom', paidOut)" ng-class="buttonSubTypeClass('custom')" uib-btn-radio="'custom'">Personalizado</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="col-md-12 ma-no-pad-left">
                                <label class="input-label">Pessoa:</label>
                                <form name="Form">
                                    <gumga-many-to-one
                                            value="individualSearch"
                                            list="individual.data"
                                            search-method="individual.methods.asyncSearch('name',param)"
                                            add-method="individual.methods.asyncPost(value,'name')"
                                            field="name"
                                            class="gmd"
                                            authorize-add="false"
                                            display-info="false">
                                        <match>
                                            <div>{{match.model.name}}</div>
                                        </match>
                                    </gumga-many-to-one>
                                </form>
                            </div>

                            <div class="row">
                                <div class="col-md-12 ma-no-pad-all">
                                    <div class="col-md-6 ma-no-pad-left" ng-show="filters == 'custom'">
                                        <label style="margin-bottom: 0" class="input-label">Data inicial</label>
                                        <gumga-date name="expirationBegin" ng-blur="configData()" ng-model="startDate"></gumga-date>
                                    </div>
                                    <div class="col-md-6 ma-no-pad-left" ng-show="filters == 'custom'">
                                        <label style="margin-bottom: 0" class="input-label">Data final</label>
                                        <gumga-date name="expirationEnd" ng-blur="configData()" ng-model="endDate"></gumga-date>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel gmd ma-panel">
                    <div class="panel-body ma-pad-panel">
                        <div class="row">
                            <div class="col-md-4">
                                <label ng-if="errorMessage" class="text-danger">{{errorMessage}}</label>
                            </div>
                            <div class="col-md-8 text-right">
                                <h5 class="text-success">À Receber: {{ total | currency: 'R$ ' }}</h5>
                                <h5 class="text-success">Acréscimo: {{ increase | currency: 'R$ ' }}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <gumga-list class="table-striped"
                                        sort="sortByGQuery(field, dir)"
                                        data="titleparcel.data"
                                        on-click="totalize()"
                                        configuration="tableConfig"
                                        page-size="titleparcel.pageSize"
                                        count="titleparcel.count"
                                        page-model="titleparcel.page"
                                        max-height="400px"
                                        on-page-change="getByGQuery(page, pageSize)">
                            </gumga-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <gmd-fab force-click="false" fixed opened="!fabs">
            <button class="bg-primary gmd-ripple"
                    type="button"
                    title="Receber"
                    gumga-button
                    ng-class="{ 'gmd-disabled' : (total <= 0) && (increase <= 0)}"
                    ng-click="individualCheckAndPay(selectedValues, containsFullPaid)"
                    ng-disabled="(total <= 0) && (increase <= 0)">
                <span class="material-icons">attach_money</span>
            </button>

            <ul>
                <!--<li class="info bg-accent"-->
                    <!--ng-class="{ 'gmd-disabled' : isRenegotiate}"-->
                    <!--ng-click="renegotiation(selectedValues)"-->
                    <!--ng-disabled="selectedValues.length === 0 || containsReplaced || containsFullPaid || isRenegotiate">-->
                    <!--<span>Renegociar</span>-->
                    <!--<i class="material-icons">trending_up</i>-->
                <!--</li>-->
            </ul>
        </gmd-fab>
    </div>
</div>