<div class="page-wrapper">
	<div class="col-md-12">
		<div class="row row-flex">
			<div class="col-md-6">
				<cp-page-title title="'Recebimento de Título'"></cp-page-title>
			</div>
			<div class="col-md-6 align-right-flex">
				<button type="button"
				        ui-sref="app.titleparcel.list"
				        class="btn btn-back">
					<svg xmlns="http://www.w3.org/2000/svg"
					     viewBox="0 0 80 80"
					     x="0px"
					     y="0px">
						<path d="M58,30H10.49l15-16.66a2,2,0,0,0-3-2.68l-18,20-.06.08-.09.11-.06.09-.08.13-.06.12,0,.1,0,.15,0,.12,0,.1c0,.05,0,.1,0,.15S4,31.9,4,32s0,0,0,0,0,0,0,0,0,.09,0,.14,0,.1,0,.15l0,.1,0,.12,0,.15,0,.1.06.12.08.13.06.09.09.11.06.08,18,20a2,2,0,0,0,3-2.68L10.49,34H58a2,2,0,0,0,0-4Z"
						/>
					</svg>
					Voltar
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12"
			     ng-show="!parcels.length">
				<label class="text-danger">Nenhuma parcela selecionada para Receber.</label>
			</div>
		</div>
		<div ng-show="parcels.length">
			<form name="PaymentForm">
				<div class="row">
					<div class="col-md-12">
						<gumga-list class="table-striped table-condensed"
						            data="parcels"
						            on-row-change="rowEdit(row)"
						            configuration="tableConfig"></gumga-list>
					</div>
				</div>
				<div class="panel gmd ma-panel panel-receiptpay">
					<div class="panel-body ma-pad-panel">
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-12">
										<label class="label-receiptpay"
										       gumga-translate-tag="titleparcelreceive.receipt">receipt</label>
										<br/>
										<div style="display:flex;">
											<label gumga-translate-tag="titleparcelreceive.money"
											       ng-class="focusValue === 'money' ? 'btn-primary' : 'btn-default'"
											       class="btn btn-primary gmd raised"
											       ng-model="payment.method"
											       uib-btn-radio="'money'"
											       ng-click="setarfocusPayment('money')"
											       ng-disabled="lastReceive <= 0">money</label>
											<label gumga-translate-tag="titleparcelreceive.check"
											       ng-class="focusValue === 'check' ? 'btn-primary' : 'btn-default'"
											       class="btn btn-primary gmd raised"
											       ng-model="payment.method"
											       uib-btn-radio="'thirdCheck'"
											       ng-click="setarfocusPayment('check')"
											       ng-disabled="lastReceive <= 0">check</label>
											<label gumga-translate-tag="titleparcelreceive.bank"
											       ng-class="focusValue === 'bank' ? 'btn-primary' : 'btn-default'"
											       class="btn btn-primary gmd raised"
											       ng-model="payment.method"
											       uib-btn-radio="'tedDoc'"
											       ng-click="setarfocusPayment('bank')"
											       ng-disabled="lastReceive <= 0">bank</label>
											<label gumga-translate-tag="titleparcelreceive.card"
											       ng-class="focusValue === 'card' ? 'btn-primary' : 'btn-default'"
											       class="btn btn-primary gmd raised"
											       ng-model="payment.method"
											       uib-btn-radio="'card'"
											       ng-click="setarfocusPayment('card')"
											       ng-disabled="lastReceive <= 0">card</label>
											<label class="btn btn-primary gmd raised"
											       ng-class="focusValue === 'credit' ? 'btn-primary' : 'btn-default'"
											       ng-model="payment.method"
											       ng-hide="isFinalConsumer"
											       uib-btn-radio="'credit'"
											       gumga-translate-tag="titleparcel.credit"
											       ng-if="showMenuPersonalCredit"
											       ng-click="setarfocusPayment('credit')"
											       ng-disabled="lastReceive <= 0">credit</label>
											<div style="display:flex;position:relative;margin-left:20px;">
												<label style="position: absolute;top: -15px;"
												       gumga-translate-tag="titleparcelreceive.date">date</label>
												<gumga-date ng-model="payment.momment"
												            id="insertMoment"
												            name="insertMoment"
												            configuration="{showCalendar: false}"></gumga-date>
											</div>
										</div>
									</div>
								</div>
								<div class="payments-wrapper-receiptpay">
									<div class="row"
									     ng-show="payment.method == 'money'">
										<div class="col-md-8">
											<div>
												<label gumga-translate-tag="titleparcelreceive.financeunit">financeunit</label>
												<br/>
												<gumga-many-to-one value="payment.money.financeUnit"
												                   search-method="getFinanceUnits('name', param)"
												                   field="name"
												                   authorize-add="false"
												                   id="paymentMoneyFinanceunit">
												</gumga-many-to-one>
											</div>
										</div>
										<div class="col-md-3 m-t-md">
											<gmd-input>
												<input id="valuemoney"
												       type="text"
												       name="value"
												       ng-model="payment.value"
												       ng-focus="calcCheques('valuemoney');"
												       ng-click="selectAllText('valuemoney')"
												       class="form-control text-right gmd"
												       gumga-error
												       ui-money-mask="2">
												<span class="bar"></span>
												<label gumga-translate-tag="titleparcelreceive.value">value </label>
											</gmd-input>
										</div>
										<div class="col-md-1 m-t-md">
											<label style="height: 0;">&nbsp;</label>
											<button style="margin-top: -22px;"
											        class="btn gmd fab btn-success btn-sm"
											        ng-click="addReceiveMoney(payment)"
											        ng-disabled="!payment.value || payment.value == 0">
												<i class="material-icons">add</i>
											</button>
										</div>
									</div>
									<div class="row"
									     ng-show="payment.method == 'thirdCheck'">
										<div class="col-md-2 m-t-md">
											<div>
												<gmd-input>
													<input gumga-error
													       type="text"
													       name="bank"
													       ng-model="payment.check.bank"
													       maxlength="3"
													       class="form-control gmd"
													       tabindex="1"
													       id="paymentCheckFinanceunit" />
													<span class="bar"></span>
													<label>
														<span gumga-translate-tag="titleparcelreceive.bank">bank</span>
														<strong class="text-danger"> *</strong>
													</label>
												</gmd-input>
											</div>
										</div>
										<div class="col-md-2 m-t-md">
											<div>
												<gmd-input>
													<input gumga-error
													       type="text"
													       name="branch"
													       ng-model="payment.check.branch"
													       class="form-control gmd"
													       tabindex="2" />
													<span class="bar"></span>
													<label>
														<span gumga-translate-tag="thirdpartycheque.branch">branch</span>
														<strong class="text-danger"> *</strong>
													</label>
												</gmd-input>
											</div>
										</div>
										<div class="col-md-4 m-t-md">
											<div>
												<gmd-input>
													<input gumga-error
													       type="text"
													       name="account"
													       ng-model="payment.check.account"
													       class="form-control gmd"
													       tabindex="3" />
													<span class="bar"></span>
													<label>
														<span gumga-translate-tag="thirdpartycheque.account">account</span>
														<strong class="text-danger"> *</strong>
													</label>
												</gmd-input>
											</div>
										</div>
										<div class="col-md-4 m-t-md">
											<div>
												<gmd-input>
													<input gumga-error
													       type="text"
													       name="chequeNumber"
													       ng-model="payment.check.chequeNumber"
													       class="form-control gmd"
													       tabindex="4" />
													<span class="bar"></span>
													<label>
														<span gumga-translate-tag="thirdpartycheque.chequeNumber">chequeNumber</span>
														<strong class="text-danger"> *</strong>
													</label>
												</gmd-input>
											</div>
										</div>
									</div>
									<div class="row"
									     ng-show="payment.method == 'thirdCheck'">
										<div class="col-md-4 m-t-md">
											<div>
												<gmd-input>
													<input gumga-error
													       type="text"
													       name="issuerd"
													       ng-model="payment.check.issuer.document"
													       class="form-control gmd"
													       ui-br-cpfcnpj-mask
													       tabindex="5" />
													<span class="bar"></span>
													<label>
														<span gumga-translate-tag="thirdpartycheque.issuerdocument">issuer document</span>
														<strong class="text-danger"> *</strong>
													</label>
												</gmd-input>
											</div>
										</div>
										<div class="col-md-8 m-t-md">
											<div>
												<gmd-input>
													<input gumga-error
													       type="text"
													       name="issuern"
													       ng-model="payment.check.issuer.name"
													       class="form-control gmd"
													       tabindex="6" />
													<span class="bar"></span>
													<label>
														<span gumga-translate-tag="thirdpartycheque.issuername">issuer name</span>
														<strong class="text-danger"> *</strong>
													</label>
												</gmd-input>
											</div>
										</div>
									</div>
									<div class="row"
									     ng-show="payment.method == 'thirdCheck'">
										<div class="col-md-4">
											<div>
												<label>
													<span gumga-translate-tag="thirdpartycheque.portfolio">portfolio</span>
													<strong class="text-danger"> *</strong>
												</label>
												<gumga-many-to-one name="portfolio"
												                   value="payment.check.portfolio"
												                   search-method="chequeportfolio.methods.asyncSearch('name',param)"
												                   field="name"
												                   tab-seq="7"
												                   authorize-add="false">
												</gumga-many-to-one>
											</div>
										</div>
										<div class="col-md-4">
											<div>
												<label style="margin-bottom: 0">
													<span gumga-translate-tag="thirdpartycheque.validUntil">validUntil</span>
													<strong class="text-danger"> *</strong>
												</label>
												<gumga-date name="validUntil"
												            ng-model="payment.check.validUntil"></gumga-date>
											</div>
										</div>
										<div class="col-md-3 m-t-md">
											<gmd-input>
												<input id="valuecheck"
												       type="text"
												       name="value"
												       ng-model="payment.value"
												       ng-focus="calcCheques('valuecheck')"
												       ng-click="selectAllText('valuecheck')"
												       class="form-control text-right gmd"
												       gumga-error
												       ui-money-mask="2"
												       tabindex="9">
												<span class="bar"></span>
												<label>
													<span gumga-translate-tag="titleparcelreceive.value">value</span>
													<strong class="text-danger"> *</strong>
												</label>
											</gmd-input>
										</div>
										<div class="col-md-1 m-t-md">
											<label style="height: 0;">&nbsp;</label>
											<button style="margin-top: -22px;"
											        class="btn gmd fab btn-success btn-sm"
											        ng-disabled="validadeCheck(payment)"
											        ng-click="addReceiveCheck(payment)">
												<i class="material-icons">add</i>
											</button>
										</div>
									</div>
									<div class="row"
									     ng-if="payment.method == 'thirdCheck'">
										<div class="col-md-12"
										     ng-show="checkExpired(payment.check.validUntil)">
											<label class="text-danger">O vencimento não pode ser menor que a data atual.</label>
										</div>
									</div>
									<div class="row"
									     ng-show="payment.method == 'tedDoc'">
										<div class="col-md-4">
											<label for="isTed"
											       gumga-translate-tag="docted.docted"></label>
											<br/>
											<switch id="isTed"
											        name="enabled"
											        ng-model="isTed"
											        on="TED"
											        off="DOC"
											        class="green wide gmd"></switch>
											<!--<input  bs-switch ng-model="isTed" switch-on-text="{{'TED'}}" switch-off-text="{{'DOC'}}" type="checkbox" switch-off-color="{{'primary'}}">-->
										</div>
										<div class="col-md-4">
											<div>
												<label gumga-translate-tag="docted.source">source</label>
												<gumga-many-to-one input-name="source"
												                   value="payment.docTed.financeUnit"
												                   field="name"
												                   list="sources"
												                   search-method="checkingaccount.methods.asyncSearch('name',param)"
												                   authorize-add="false"
												                   add-method="checkingaccount.methods.asyncPost(value,'name')"
												                   id="paymentBankFinanceunit">
												</gumga-many-to-one>
											</div>
										</div>
										<div class="col-md-3 m-t-md">
											<gmd-input>
												<input id="valuebank"
												       type="text"
												       name="value"
												       ng-model="payment.value"
												       ng-focus="calcCheques('valuebank')"
												       ng-click="selectAllText('valuebank')"
												       class="form-control text-right gmd"
												       gumga-error
												       ui-money-mask="2">
												<span class="bar"></span>
												<label gumga-translate-tag="titleparcelreceive.value">value </label>
											</gmd-input>
										</div>
										<div class="col-md-1 m-t-md">
											<label style="height: 0;">&nbsp;</label>
											<button style="margin-top: -22px;"
											        class="btn gmd fab btn-success btn-sm"
											        ng-click="addReceiveBank(payment)">
												<i class="material-icons">add</i>
											</button>
										</div>
									</div>
									<div class="row"
									     ng-show="payment.method == 'card'">
										<div class="col-md-4">
											<label gumga-translate-tag="titleparcelreceive.currentaccount">currentaccount</label>
											<gumga-many-to-one name="card"
											                   value="payment.card.financeUnit"
											                   field="name"
											                   search-method="creditcardaccount.methods.asyncSearch('name',param)"
											                   authorize-add="false"
											                   id="paymentCardFinanceunit">
											</gumga-many-to-one>
										</div>
										<div class="col-md-3 m-t-md">
											<gmd-input>
												<input id="authorizationNumber"
												       type="text"
												       name="value"
												       ng-model="payment.authorizationNumber"
												       class="form-control gmd">
												<span class="bar"></span>
												<label gumga-translate-tag="titleparcelreceive.authorizationNumber">authorizationNumber</label>
											</gmd-input>
										</div>
										<div class="col-md-3 col-md-offset-1 m-t-md">
											<gmd-input>
												<input id="valuecard"
												       type="text"
												       name="value"
												       ng-model="payment.value"
												       ng-focus="calcCheques('valuecard')"
												       ng-click="selectAllText('valuecard')"
												       class="form-control text-right gmd"
												       gumga-error
												       ui-money-mask="2">
												<span class="bar"></span>
												<label gumga-translate-tag="titleparcelreceive.value">value</label>
											</gmd-input>
										</div>
										<div class="col-md-1 m-t-md">
											<label style="height: 0;">&nbsp;</label>
											<button style="margin-top: -22px;"
											        class="btn gmd fab btn-success btn-sm"
											        ng-click="addReceiveCard(payment)">
												<i class="material-icons">add</i>
											</button>
										</div>
									</div>
									<div class="row"
									     ng-show="payment.method == 'credit' && showMenuPersonalCredit === true">
										<div class="col-md-6">
											<div>
												<label gumga-translate-tag="titleparcel.financeUnit">financeUnit</label>
												<br/>
												<gumga-many-to-one tab-seq="1"
												                   value="payment.credit.financeUnit"
												                   on-select="onSelectPaymentCredit(value)"
												                   on-deselect="onDeselectPaymentCredit(value)"
												                   list="financeunit.data"
												                   search-method="getPersonalCredits(param)"
												                   add-method="individual.methods.asyncPost(value,'name')"
												                   on-new-value-added="checkType()"
												                   description="type"
												                   field="name"
												                   authorize-add="false"
												                   id="paymentCreditFinanceunit">
												</gumga-many-to-one>
											</div>
										</div>
										<div class="col-md-6">
											<div class="row">
												<div class="col-md-5 m-t-md">
													<gmd-input>
														<input id="balanceFinanceUnit"
														       type="text"
														       name="balanceFinanceUnit"
														       ng-model="balanceFinanceUnit"
														       class="form-control text-right gmd"
														       gumga-error
														       ui-money-mask="2"
														       tabindex="2"
														       ng-disabled="true">
														<span class="bar"></span>
														<label gumga-translate-tag="titleparcelreceive.credit">credit</label>
													</gmd-input>
												</div>
												<div class="col-md-5 m-t-md">
													<gmd-input>
														<input id="valuecredit"
														       type="text"
														       name="value"
														       ng-model="payment.value"
														       ng-focus="calcCheques('valuecredit')"
														       ng-click="selectAllText('valuecredit')"
														       class="form-control text-right gmd"
														       gumga-error
														       ui-money-mask="2"
														       tabindex="3">
														<span class="bar"></span>
														<label gumga-translate-tag="titleparcelreceive.value">value</label>
													</gmd-input>
												</div>
												<div class="col-md-2 m-t-md">
													<label style="height: 0;">&nbsp;</label>
													<button style="margin-top: -22px;"
													        class="btn gmd fab btn-success btn-sm"
													        ng-disabled="!payment.value || !hasLimit(balanceFinanceUnit, payment)"
													        ng-click="addReceiveCredit(payment)">
														<i class="material-icons">add</i>
													</button>
												</div>
											</div>
											<div class="row"
											     ng-show="payment.value && !hasLimit(balanceFinanceUnit, payment)">
												<div class="col-md-12">
													<label class="text-danger">Essa unidade não possui crédito suficiente.</label>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="col-md-1">
							</div>
							<div class="col-md-5">
								<div class="resumo-pagamento-list">
									<div style="margin-bottom: 15px;"
									     class="row"
									     ng-if="payment.methodReceive.length > 0 && payment.numberReceive">
										<div class="col-md-12">
											<h3 class="subtitle-receiptpay"
											    gumga-translate-tag="titleparcelreceive.methodreceive"></h3>
										</div>

										<div class="col-md-3">
											<label gumga-translate-tag="titleparcelreceive.method">method</label>
										</div>
										<div class="col-md-5">
											<label gumga-translate-tag="titleparcelreceive.account">account</label>
										</div>
										<div class="col-md-3">
											<label gumga-translate-tag="titleparcelreceive.value"
											       class="pull-right">value</label>
										</div>
										<div class="col-md-1">
											&nbsp;
										</div>
									</div>
									<div ng-repeat="method in payment.methodReceive"
									     ng-if="payment.methodReceive.length > 0 && payment.numberReceive">
										<div class="row center-flex-row">

											<div class="col-md-3">
												<span>{{method.historic}}</span>
											</div>
											<div class="col-md-5">
												<span>{{method.destination}}</span>
											</div>
											<div class="col-md-3">
												<span class="pull-right">{{method.value | currency: "R$ "}}</span>
											</div>
											<div class="col-md-1"
											     style="padding:0px;">
												<button type="button"
												        class="text-danger icon"
												        uib-tooltip="Excluir"
												        ng-click="removeLeaf(payment.methodReceive, $index)">

													<svg xmlns="http://www.w3.org/2000/svg"
													     xmlns:xlink="http://www.w3.org/1999/xlink"
													     version="1.1"
													     x="0px"
													     y="0px"
													     viewBox="0 0 100 100"
													     enable-background="new 0 0 100 100"
													     xml:space="preserve">
														<path d="M59.835,72.094V34.495c0-1.657-1.343-3-3-3s-3,1.343-3,3v37.599c0,1.658,1.343,3,3,3S59.835,73.752,59.835,72.094z   M46.164,72.094V34.495c0-1.657-1.343-3-3-3s-3,1.343-3,3v37.599c0,1.658,1.343,3,3,3S46.164,73.752,46.164,72.094z M73.27,31.495  c-1.657,0-3,1.343-3,3v45.412c0,1.217-0.989,2.209-2.205,2.209H31.938c-1.218,0-2.209-0.992-2.209-2.209V34.495c0-1.657-1.343-3-3-3  s-3,1.343-3,3v45.412c0,4.525,3.683,8.209,8.209,8.209h36.126c4.524,0,8.205-3.684,8.205-8.209V34.495  C76.27,32.837,74.927,31.495,73.27,31.495z M79.93,22.148H66.348v-7.263c0-1.657-1.343-3-3-3H36.652c-1.657,0-3,1.343-3,3v7.263  H20.07c-1.657,0-3,1.343-3,3s1.343,3,3,3H79.93c1.657,0,3-1.343,3-3S81.587,22.148,79.93,22.148z M60.348,22.148H39.652v-4.263  h20.695V22.148z"
														/>
													</svg>
												</button>
											</div>

										</div>
										<hr style="margin: 12px 0px;">
									</div>
									<div class="inf-wrapper"
									     ng-if="payment.methodReceive.length > 0 && payment.numberReceive">
										<h4 class="total">Total a pagar: {{total | currency: "R$"}}</h4>
										<h4 class="success">Valor recebido: {{totalReceive() | currency: "R$"}}</h4>
										<h4 ng-show="lastReceive < 0"
										    class="warn">Troco: {{lastReceive * -1 | currency: 'R$ ' }}</h4>
										<h4 ng-show="lastReceive > 0"
										    class="error">Falta: {{lastReceive | currency: 'R$ '}}</h4>
									</div>
								</div>
							</div>
						</div>



						<div class="row"
						     ng-if="payment.methodReceive.length > 0 && payment.numberReceive ">
							<div class="col-md-12"
							     style="display: flex;
							align-items: flex-end;
							justify-content: flex-end;">
								<button class="btn btn-receiptpay"
								        ng-click="makePayment(payment)">Fazer pagamento
								</button>
							</div>
							<!--<div class="col-md-2 pull-right" style="margin-right:2%;">-->
							<!--<label>&nbsp;</label><br/>-->
							<!--<button type="button" class="btn btn-block btn-outline btn-default gmd raised" ng-click="printReceipt()">-->
							<!--Imprimir Recibo-->
							<!--</button>-->
							<!--</div>-->
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>