<div class="page-wrapper">
	<div class="col-md-12">
		<div class="row row-flex">
			<div class="col-md-6">
				<cp-page-title title="'{{titlePage}}'"></cp-page-title>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label for="group"
				       class="control-label input-label margin-many">
					<span>Pesquisar marcadores</span>
				</label>
				<ui-select multiple
				           ng-model="selected.labels"
				           theme="bootstrap"
				           name="labels"
				           on-select="selectLabel($item)"
				           on-remove="reset()">
					<ui-select-match>{{$item.value}}</ui-select-match>
					<ui-select-choices repeat="label in labels"
					                   refresh="buscaTag($select.search)">
						<div ng-if="!label.isTag">{{label.value + label.isTag}}</div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-6 m-b">
				<div style="margin-top: 18px">
					<gumga-query search="searchTitle(param)"
					             use-gquery="true"
					             advanced-search="searchTitle(param)">
						<search-field label="N° Documento"
						              field="documentNumber"></search-field>
						<advanced-search-field type="string"
						                       label="Número do documento"
						                       field="obj.documentNumber"></advanced-search-field>
						<advanced-search-field type="number"
						                       label="Valor Total"
						                       field="obj.value"></advanced-search-field>
						<advanced-search-field type="date"
						                       label="Data de Emissão"
						                       field="obj.emissionDate"></advanced-search-field>
					</gumga-query>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<gumga-list class="table-striped"
				            data="title.data"
				            configuration="tableConf"
				            page-size="title.pageSize"
				            count="title.count"
				            page-model="title.page"
				            max-height="400px"
				            on-page-change="title.methods.get(page, pageSize)">
				</gumga-list>
			</div>
		</div>
	</div>
</div>

<gmd-fab force-click="false"
         fixed
         opened="selectedValues.length > 0">
	<button class="bg-accent gmd-ripple"
	        ng-click="goInsert()"
	        ng-if="selectedValues.length == 0">
		<span class="material-icons">add</span>
	</button>
	<button class="bg-accent"
	        ng-if="selectedValues.length > 0">
		<span class="material-icons">menu</span>
	</button>
	<ul>
		<li class="btn-info"
		    ng-click="openPrintings(selectedValues[0].id)"
		    ng-class="{'gmd-invisible' : selectedValues.length == 0}">
			<span>Imprimir</span>
			<i class="material-icons gmd-ripple">print</i>
		</li>
		<li class="btn-warning"
		    ng-click="goEdit(selectedValues[0].titleType, selectedValues[0].id, selectedValues[0].hasPayment)"
		    ng-class="{'gmd-invisible' : selectedValues.length == 0}">
			<span>{{selectedValues[0].hasPayment || selectedValues[0].fullPaid || selectedValues[0].isReversed ? 'Visualizar' : 'Editar'}}
			</span>
			<i class="material-icons gmd-ripple">{{selectedValues[0].hasPayment || selectedValues[0].fullPaid || selectedValues[0].isReversed ? 'remove_red_eye' : 'edit'}}</i>
		</li>
		<li class="btn-primary"
		    ui-sref="app.individual.insert"
		    ng-class="{'gmd-invisible' : selectedValues.length == 0}">
			<span>Novo</span>
			<i class="material-icons gmd-ripple">add</i>
		</li>
	</ul>
</gmd-fab>